*{
    font-family: 'Baloo Tammudu 2', cursive;
 }
 h1{
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}
ul{
    margin-top: 50px;
}

li{
    list-style: none;
    text-align: center;
    font-size: x-large;
    padding: 20px;
    font-size: 30px;
    align-items: center;
    margin-right: 40px; 

}
a{
    color: aliceblue;
}
img{
    height: 100px;
    width: 100px;
    display: block;
    margin: 30px auto;
}

mat-sidenav-container{
    height: 100%;
}
mat-sidenav, mat-sidenav-container{
    padding: 15px;
}
mat-sidenav{
    background-color: rgb(17, 14, 138);
    width: 300px;
    left: 0px;
}
form{
    justify-content: center;
    display:flex;
    flex-direction: column;
    width: 500px;
    margin-top: 70px;
    margin: auto;
    margin-top: 70px;
}
input{
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}
#button{
    width: 100px;
    margin: auto;
    height: 30px;
}