<mat-sidenav-container>
  <mat-sidenav #sidenav mode='side' [(opened)]= 'opened'>
    <div class="logo">
        
      <img src="https://admission24.s3.ap-south-1.amazonaws.com/api_main/public/images/basic-info/1569056705-banner.png" alt="">
    </div>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>

      <li>
        <a routerLink="/contactus">ContactUs</a>
      </li>
      <li>
        <a routerLink="/products"> Products</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)='sidenav.toggle()'>Click Me!</button>
    <h1>Welcome to Contact Us</h1>
    <div>
    <form (submit)="loginUser($event)">

        <mat-form-field floatLabel='auto' appearance='outline'>
          <mat-label>Name</mat-label>
          <input id="username" matInput required>
          <mat-hint align='end'>Min 4 Characters</mat-hint>
        </mat-form-field>
        <mat-form-field floatLabel='auto' appearance='outline'>
          <mat-label>Email</mat-label>
          <input id="email" matInput required>
          <mat-hint align='end'>Min 4 Characters</mat-hint>
        </mat-form-field>
        <mat-form-field floatLabel='auto' appearance='outline'>
          <mat-label>Details</mat-label>
          <input id="details" matInput required>
          <mat-hint align='end'>Min 4 Characters</mat-hint>
        </mat-form-field>
        <button id='button' type="submit">Submit</button>
    </form> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 

