*{
    font-family: 'Baloo Tammudu 2', cursive;
 }
 h1{
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}
ul{
    margin-top: 50px;
}

li{
    list-style: none;
    text-align: center;
    font-size: x-large;
    padding: 20px;
    font-size: 30px;
    align-items: center;
    margin-right: 40px; 

}
a{
    color: aliceblue;
}
img{
    height: 100px;
    width: 100px;
    display: block;
    margin: 30px auto;
}

mat-sidenav-container{
    height: 100%;
}
mat-sidenav, mat-sidenav-container{
    padding: 15px;
}
mat-sidenav{
    background-color: rgb(17, 14, 138);
    width: 300px;
    left: 0px;
}
table{
    margin: auto;
    text-align: center;
    height: 400px;
    width: 600px;
    margin-top: 80px;
    font-size: 30px;
}
#button{
    font-size: 30px;
}
#button:hover{
    font-size: 30px;
    color: rgb(250, 91, 91);
    background-color: cornsilk;
}