<mat-sidenav-container>
  <mat-sidenav #sidenav mode='side' [(opened)]= 'opened'>
    <div class="logo">
        
      <img src="https://admission24.s3.ap-south-1.amazonaws.com/api_main/public/images/basic-info/1569056705-banner.png" alt="">
    </div>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>

      <li>
        <a routerLink="/contactus">ContactUs</a>
      </li>
      <li>
        <a routerLink="/products"> Products</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)='sidenav.toggle()'>Click Me!</button>
    <h1>Welcome to Home</h1>
  </mat-sidenav-content>
</mat-sidenav-container>
